<%

   %>
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../components/web-header') %>
</head>
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <%- include('../../components/left-aside.ejs') %>
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <%- include('../../components/kt-header.ejs') %>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <div class="row g-6">
                            <div class="col-12">
                                <div class="card shadow-sm">
                                    <div class="card-header">
                                        <div class="card-title"><h3 class="card-label">Uso de Suelo</h3></div>
                                        <div class="card-toolbar">
                                            <button class="btn btn-primary btn-icon btn-circle btn-pulse btn-hover-scale"
                                                    onclick="nuevousosuelo()"
                                                    type="button">
                                                <i class="bi bi-plus fs-2hx"></i>
                                            </button>
                                            <button onclick="window.location.href='/excel/hectareas.vw_rep_usosuelo'"
                                                    class="btn btn-success btn-icon btn-circle pulse btn-hover-scale"
                                                    type="button">
                                                <i class="bi bi-file-earmark-excel fs-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex align-items-center position-relative mb-6">
                                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
                                                          height="2" rx="1" transform="rotate(45 17.0365 15.1223)"
                                                          fill="currentColor"></rect>
                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <input type="text" data-kt-filter="search-usosuelo" name="searchusosuelo"
                                                   class="form-control form-control-solid w-100 ps-14 text-uppercase"
                                                   placeholder="Buscar..."/>
                                        </div>
                                        <table class="table table-row-dashed" id="tb-usosuelo">
                                            <thead class="fw-bolder text-uppercase center">
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Unidad de suelo</th>
                                              
                                                <th>Código commcare</th>
                                                <th>Estado</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--end::Content-->
            <%- include('../../components/bottom-footer.ejs', {ip: ip}) %>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
    <!-- begin::modals -->
    <%- include('modal-usosuelo.ejs') %>

    <!-- end::modals -->
</div>
<!--end::Root-->


<%- include('../../components/kt-scrolltop.ejs') %>
<!--end::Main-->
<%- include('../../components/web-footer.ejs') %>

<script>

    var table;
    var btnSave;
    /* NO BORRAR ESTO ::: INICIO ::: */
    const url = `${window.location.origin}/api`;
    var sToast = null;
    sToast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    function fnToast(res) {
        const {code, message} = res

        if (code == undefined) {
            console.error('error in fnToast', res)
            throw 'Formato invalido'
        }

        sToast.fire({
            icon: code == 'true' ? 'success' : 'error',
            title: message
        })
    }

    function delBase(message, path){
        Swal.fire({
            text: message,
            showCancelButton: true,
            icon: "warning",
            buttonsStyling: false,
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            customClass: {
                confirmButton: "order-2 btn btn-danger",
                cancelButton: "order-1 btn btn-light"
            }
        }).then(function (button) {
            if (button.isConfirmed) {
                $.ajax({
                    url: `${url}/catalogo/${path}`,
                    type: 'delete'
                }).done(function (request) {
                    table.ajax.reload(null, false);
                    sToast.fire({
                        icon: "success",
                        title: "Registro Eliminado"
                    })
                }).fail(function (reason) {
                    console.log(reason)
                    sToast.fire({
                        icon: "error",
                        title: "Se produjo un error"
                    })
                })
            }
        })
    }
    /* NO BORRAR ESTO ::: FIN ::: */

    function nuevousosuelo(){
    
        $("#frm-usosuelo").trigger('reset')

       
        $("#codusosuelo").val('0');
 
       $("#kt_modal_usosuelo").modal('show');
    }

 



     function delusosuelo(id) {
        delBase('¿Esta seguro que desea eliminar el uso de suelo?',`hectareas.usosuelo/codusosuelo/${id}`);
        
    }

    function editarusosuelo(id){
            console.log('codusosuelo', id)
            $.ajax({ 
                    url: url + '/catalogo/view/hectareas.usosuelo/codusosuelo/' + id
            }).done(function(result){
                console.log(result.data[0])
                const {
                    codusosuelo, 
                    strusosuelo, 
                   codcommcare, 
                    codestado
                } = result.data[0]

                $("#codusosuelo").val(codusosuelo)
                $("#strusosuelo").val(strusosuelo)
             
                $("#codcommcare").val(codcommcare)
                $("#codestado").prop("checked", codestado)
              $("#kt_modal_usosuelo").modal('show');

            }).fail(function(reason){
                console.log(reason)
            })


    }

    document.addEventListener("DOMContentLoaded", function () {
        btnSave = document.getElementById('kt_guardar');

        function search(event){
            table.search(event.target.value).draw();
        }

        let filterSearch = document.querySelector('[data-kt-filter="search-usosuelo"]');
        filterSearch.addEventListener('keyup', search);

        

        table = $('#tb-usosuelo').DataTable({
            search: true,
            ajax: `${url}/catalogo/view/hectareas.usosuelo`,
            columns: [
                {data: "codusosuelo"},
                {data: "strusosuelo"},
              
                {data: "codcommcare"},
                {data: "codestado"},
                {data: null}
            ],
            columnDefs: [{
                targets: [0],
                render: function (data, type, row) {
                    return `<button class="btn btn-light-primary hover-scale btn-icon btn-circle" onclick="editarusosuelo('${data}')">${data}</button>`
                }
            },{
                
            }, {
                targets: [3],
                render: function (data, type, row) {
                    let strestado = "OCULTO"
                    let color = "badge-light-danger"

                    if (data) {
                        strestado = "VISIBLE"
                        color = "badge-light-success"
                    }
                    return `<span class="badge badge-pill ${color}">${strestado}</span>`
                }
            }, {
                targets: [4],
                render: function (data, type, row) {
                    return `<button onclick="delusosuelo('${row.codusosuelo}')" class="btn btn-icon btn-circle btn-light-danger"><i class="bi bi-trash"></i></button>`
                }
            }],
            order: [[0, 'asc']]
        });

        


        $("#frm-usosuelo").submit(function (e){
            e.preventDefault()
            let codusosuelo = document.getElementById('codusosuelo').value
            console.log('codusosuelo', codusosuelo)
            let metodo="post";
            if (codusosuelo != 0 )
                metodo = "put";
            btnSave.setAttribute('data-kt-indicator', 'on')
            btnSave.disabled = true
            $.ajax({
                url: `${url}/catalogo/general/usosuelo/${codusosuelo}`,
                type: metodo,
                data: $("#frm-usosuelo").serializeArray()
            }).done(function (result) {
                fnToast(result)
                table.ajax.reload(null, false);
                $("#kt_modal_usosuelo").modal('hide')
                $("#frm-usosuelo").trigger("reset")
            }).fail(fnToast).always(function () {
                btnSave.removeAttribute('data-kt-indicator');
                btnSave.disabled = false;
            })
        })

    })
</script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
</html>