<%

 %>
<div class="<%= className %>">
    <label class="input-group-text" for="<%= id %>">
        <%= label %>
    </label>
    <input
            type="<%= type %>"
            name="<%= name %>"
            id="<%= id %>"
            class="form-control"
            placeholder="<%= placeholder %>"
            value="<%= value %>" />
</div>
